.container__small-card {
  margin-bottom: 15px;
  width: 700px;
}

.container__small-card-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.small-card__image > img {
  width: 200px;
  margin-right: 20px;
}

.small-card__tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card-hr {
  margin-top: 25px;
}

.small-card__tile > h2 > a {
  text-decoration: none;
}

.small-card__tile > h2 > a:hover {
  color: gray;
}

.small-card__tile > h2 > a:active {
  background-color: aquamarine;
}
